<div class="row" style="background-color:rgba(0,0,0,0.4)">
    <div class="col-md-4">
        <h2>Manage User Roles</h2>
        
        <p class="btn btn-default">@Html.ActionLink("Asign Role", "AssignRole", "Admin")</p>
    </div>
    <div class="col-md-4">
        <h2>Your Club Settings</h2>
        <p>Edit your home Background ,Colors, Etc.</p>
        <p class="btn btn-default">@Html.ActionLink("Register", "Register", "Account")</p>
    </div>

</div>

